%section.dashboard-body
  .container-fluid.globalwidth
    %section.dashboard.projects-dashboard
      = render 'templates/stores/shared/menu'
      = render 'templates/stores/shared/datepicker'
      = render 'templates/stores/shared/debug'

      .graph-unit-holder

        .graph-unit-filter
          %form(action = "")

            / Filter
            = render 'templates/stores/products_revenue/filter'

            / Table
            .graph-unit-info
              .graph-unit-info-table.scrollParent

                / Table header
                = render 'templates/stores/products_revenue/table_header'

                .table-footer.scrollBottomFixed
                  .table-cell.col_1
                    = t('projects.products_revenue.total')
                    {{ vm.products_count }}
                    = t('projects.products_revenue.products')
                  .table-cell.col_5.col_right {{ vm.sales }}
                  .table-cell.col_6.col_right {{ vm.gross_revenue | dynCurrency }}
                  .table-cell.col_7 &nbsp;
                  .table-cell.col_4 &nbsp;

                / Table content
                .table-content
                  .table-row{'dir-paginate' => "product in vm.products | filter:vm.filters | orderBy:vm.sortType:vm.sortReverse | itemsPerPage: vm.itemsPerPage"}
                    .table-cell.col_1(ng-show='product.divider') {{ product.divider_title }}
                    .table-cell.col_5(ng-show='product.divider') &nbsp;
                    .table-cell.col_6(ng-show='product.divider') &nbsp;
                    .table-cell.col_7(ng-show='product.divider') &nbsp;
                    .table-cell.col_4(ng-show='product.divider') &nbsp;

                    .table-cell.col_1(ng-show='!product.divider')
                      {{ product.title }}
                    .table-cell.col_5.col_right(ng-show='!product.divider')
                      {{ product.sales }}
                    .table-cell.col_6.col_right(ng-show='!product.divider')
                      .seller_val(ng-show='!product.divider') {{ product.gross_revenue | dynCurrency}}
                    .table-cell.col_7.col_right(ng-show='!product.divider') {{ product.price | dynCurrency}}
                    .table-cell.col_4(ng-show='!product.divider')
                      {{ product.created_at }}

                  .table-row.no_hover
                    .table-cell.col_1
                      %a.btn.btn_v3.check_text.graph-info-reload-btn(ng-click="vm.itemsPerPage = vm.itemsPerPage + 50")
                        %i.fa.fa-refresh
                        %span Show 50 more products
                    .table-cell.col_5.col_right &nbsp;
                    .table-cell.col_6.col_right &nbsp;
                    .table-cell.col_7.col_right &nbsp;
                    .table-cell.col_8.col_right &nbsp;

            / Pagination
            .graph-filter-block
              %dir-pagination-controls(template-url = "/templates/stores/shared/dirPagination")
