%section.dashboard-body
  .container-fluid.globalwidth
    %section.dashboard.projects-dashboard
      = render 'templates/stores/shared/menu'
      = render 'templates/stores/shared/datepicker'
      = render 'templates/stores/shared/debug'

      / Big chart
      = render 'templates/stores/dashboard/big_chart'

      / Overviews

      / БАЗОВЫЕ ПОКАЗАТЕЛИ
      = render 'templates/stores/dashboard/finance_overview'

      / ПОКУПАТЕЛИ
      = render 'templates/stores/dashboard/customers_overview'

      / ТОВАРЫ
      = render 'templates/stores/dashboard/products_overview'
