%section.dashboard-bodya
  .container-fluid.globalwidth
    %section.dashboard.projects-dashboard
      = render 'templates/stores/shared/menu'
      = render 'templates/stores/shared/datepicker'
      = render 'templates/stores/shared/debug'

      / Big chart
      = render 'templates/stores/dashboard/big_chart'

      / Overviews
      = render 'templates/stores/dashboard/finance_overview'
      = render 'templates/stores/dashboard/customers_overview'
      = render 'templates/stores/dashboard/products_overview'
