%section.dashboard-body
  .container-fluid.globalwidth
    %section.dashboard.projects-dashboard
      = render 'templates/stores/shared/menu'
      = render 'templates/stores/shared/datepicker'
      = render 'templates/stores/shared/debug'

      .graph-unit-holder
        .graph-unit-filter
          %form{:action => ""}

            / Filter
            .graph-filter-block
              .pull-left
                %ul.filter-btn-list
                  %li
                    %label.btn-filter-check
                      %input.hidden_input(checked="" value="all_products" type="radio" ng-model="vm.products_view")
                        %span.btn.btn_v1.check_text= t('projects.products_revenue.all_products')
                  %li
                    %label.btn-filter-check
                      %input.hidden_input(value="best_sellers" type="radio" ng-model="vm.products_view")
                        %span.btn.btn_v1.check_text= t('projects.products_revenue.best_sellers')
                  %li
                    %label.btn-filter-check
                      %input.hidden_input(value="rule_80_20" type="radio" ng-model="vm.products_view")
                        %span.btn.btn_v1.check_text= t('projects.products_revenue.80_20_rule')
              .pull-right
                .filter-search_block
                  %input.form-control(placeholder="#{t('projects.products_revenue.product_search')}" ng-model="vm.filters.title")
                    %button.filter-search-btn
                      %i.fa.fa-search

            / Table
            .graph-unit-info
              .graph-unit-info-table.scrollParent

                / Table header
                .table-header.no_pointer
                  .table-cell.col_1
                    %a(ng-click="vm.sortType = 'title'; vm.sortReverse = !vm.sortReverse")
                      %span= t('projects.products_revenue.table.product')
                      %span.fa.fa-caret-down{"ng-show" => "vm.sortType == 'title' && !sortReverse"}
                      %span.fa.fa-caret-up{"ng-show" => "vm.sortType == 'title' && sortReverse"}
                  .table-cell.col_5.col_right
                    %a(ng-click="vm.sortType = 'sales'; vm.sortReverse = !vm.sortReverse")
                      %span= t('projects.products_revenue.table.sales')
                      %span.fa.fa-caret-down{"ng-show" => "vm.sortType == 'sales' && !sortReverse"}
                      %span.fa.fa-caret-up{"ng-show" => "vm.sortType == 'sales' && sortReverse"}
                  .table-cell.col_6.col_right
                    %a(ng-click="vm.sortType = 'gross_revenue'; vm.sortReverse = !vm.sortReverse")
                      %span.fa.fa-caret-down{"ng-show" => "vm.sortType == 'gross_revenue' && !sortReverse"}
                      %span.fa.fa-caret-up{"ng-show" => "vm.sortType == 'gross_revenue' && sortReverse"}
                      %span= t('projects.products_revenue.table.revenu')
                  .table-cell.col_7.col_right
                    %a(ng-click="vm.sortType = 'price'; vm.sortReverse = !vm.sortReverse")
                      %span= t('projects.products_revenue.table.price')
                      %span.fa.fa-caret-down{"ng-show" => "vm.sortType == 'price' && !sortReverse"}
                      %span.fa.fa-caret-up{"ng-show" => "vm.sortType == 'price' && sortReverse"}
                  .table-cell.col_4
                    %span= t('projects.products_revenue.table.date added')

                .table-footer.scrollBottomFixed(ng-show="vm.products_view != 'rule_80_20'")
                  .table-cell.col_1 Total {{ vm.products.length }} products
                  .table-cell.col_5.col_right {{ vm.sales }}
                  .table-cell.col_6.col_right ₽ {{ vm.gross_revenue }}
                  .table-cell.col_7 &nbsp;
                  .table-cell.col_4 &nbsp;

                / Rule 80 20 table
                .table-content(ng-show="vm.products_view == 'rule_80_20'")

                  .table-row
                    .table-cell.col_1 80% made of revenue
                    .table-cell.col_5 &nbsp;
                    .table-cell.col_6 &nbsp;
                    .table-cell.col_7 &nbsp;
                    .table-cell.col_4 &nbsp;


                  .table-row{'dir-paginate' => "product in vm.products_80 | itemsPerPage: 100"}
                    .table-cell.col_1 {{ product.title }}
                    .table-cell.col_5.col_right {{ product.sales }}
                    .table-cell.col_6.col_right
                      .seller_val ₽ {{ product.gross_revenue }}
                    .table-cell.col_7.col_right ₽ {{ product.price }}
                    .table-cell.col_4 {{ product.created_at }}


                  .table-row
                    .table-cell.col_1 20% made of revenue
                    .table-cell.col_5 &nbsp;
                    .table-cell.col_6 &nbsp;
                    .table-cell.col_7 &nbsp;
                    .table-cell.col_4 &nbsp;

                  .table-row{'dir-paginate' => "product in vm.products_20 | itemsPerPage: 100"}
                    .table-cell.col_1 {{ product.title }}
                    .table-cell.col_5.col_right {{ product.sales }}
                    .table-cell.col_6.col_right
                      .seller_val ₽ {{ product.gross_revenue }}
                    .table-cell.col_7.col_right $ {{ product.price }}
                    .table-cell.col_4 {{ product.created_at }}


                / Table content
                .table-content(ng-show="vm.products_view != 'rule_80_20'")
                  .table-row{'dir-paginate' => "product in vm.products | filter:vm.filters | orderBy:vm.sortType:vm.sortReverse | itemsPerPage: vm.itemsPerPage"}
                    .table-cell.col_1 {{ product.title }}
                    .table-cell.col_5.col_right {{ product.sales }}
                    .table-cell.col_6.col_right
                      .seller_val ₽ {{ product.gross_revenue }}
                    .table-cell.col_7.col_right $ {{ product.price }}
                    .table-cell.col_4 {{ product.created_at }}

                  .table-row.no_hover
                    .table-cell.col_1
                      %a.btn.btn_v3.check_text.graph-info-reload-btn(ng-click="setCurrent(pagination.current + 1)" ng-show="vm.products_view == 'all_products'")
                        %i.fa.fa-refresh
                        %span Show 50 more products
                    .table-cell.col_5.col_right &nbsp;
                    .table-cell.col_6.col_right &nbsp;
                    .table-cell.col_7.col_right &nbsp;
                    .table-cell.col_8.col_right &nbsp;

            / Pagination
            .graph-filter-block
              %dir-pagination-controls{"template-url" => "/templates/dirPagination"}
