%section.case.case-profile
  .case-cnt.wrap-b
    %form.form-horizontal.form

      / Subscription
      .form-group
        %label.control-label.col-md-3.col-sm-3= t('profile.subscription')
        .col-md-7.col-sm-9
          .row(ng-show="!user.subscription.expired")
            .col-xs-12
            Подписка {{ user.subscription.sub_type }} до {{ user.subscription.expire_at | date}}

          .row(ng-show="user.subscription.expired")
            .subscription-group
              .form-group
                %select.form-control(ng-model = "vm.subscription.project_id")
                  %option(ng-repeat="project in user.projects" value = "{{project.id}}") {{ project.name }}

                %input.form-control(ng-checked="user.subscription.sub_type == 'yearly'" type='radio' ng-model='vm.subscription.sub_type' value='yearly') 1 year 4$
                %input.form-control(ng-checked="user.subscription.sub_type == 'monthly'" type='radio' ng-model='vm.subscription.sub_type' value='monthly') 1 month 5$

              .form-group
                %button.btn.btn-default(ng-click='vm.change_subscription(vm.new_sub_type)' ng-disabled='vm.requested')= t('subscription.change_type')


      / General
      .form-group
        %label.control-label.col-md-3.col-sm-3= t('devise.registrations.edit.personal')
        .col-md-7.col-sm-9
          .control-box
            .upload-box(data-droplet ng-model="vm.avatar")
              .user-pic
                %img.img-circle{'ng-src' => "{{user.avatar.avatar.url}}", width: '80px', height: '80px'}
                %a#js-delete-avatar.btn-delete(href = "" ng-show = "user.avatar.avatar.url" ng-click="vm.destroy_avatar()")
                  %i.icon.fa.fa-trash
              .descript(id='avatar_input' droplet-upload-single ng-model="vm.avatar")= t('devise.registrations.edit.avatar_select').html_safe

          .control-box
            %input.form-control{placeholder: t('devise.registrations.edit.form.name'), 'ng-model' => "user.name"}

          .control-box{'ng-class' => "{haserror: user.errors.length > 0}"}
            %input.form-control{type: 'email', placeholder: t('devise.registrations.edit.form.email'), 'ng-model' => "user.email"}

      / Social networks
      .form-group
        %label.control-label.col-md-3.col-sm-3= t('profile.import_data_from_social')
        .col-md-7.col-sm-9
          .control-box
            %a.btn-social.btn-facebook(href="#{user_omniauth_authorize_url(:facebook)}")
              %i.icon.fa.fa-facebook>
              Facebook
            %a.btn-social.btn-twitter(href="#{user_omniauth_authorize_url(:google_oauth2)}")
              %i.icon.fa.fa-google>
              Google

      / Password
      .form-group
        %label.control-label.col-md-3.col-sm-3= t('devise.registrations.edit.password')
        .col-md-7.col-sm-9
          .control-box{'ng-class' => "{'has-error': vm.password.new_password}"}
            %input.form-control{type: 'password', 'ng-model' => "user.password", placeholder: t('devise.registrations.edit.form.new_password')}
          .control-box{'ng-class' => "{'has-error': vm.password.password_confirmation}"}
            %input.form-control{type: 'password', 'ng-model' => "user.password_confirmation", placeholder: t('devise.registrations.edit.form.confirm_new_password')}
          .control-box{'ng-class' => "{'has-error': vm.password.current_password}"}
            %input.form-control{type: 'password', 'ng-model' => "user.current_password", placeholder: t('devise.registrations.edit.form.current_password')}

      .form-group
        .col-md-offset-3.col-md-7.col-sm-offset-3.col-sm-9
          %a.btn.btn-lg.btn-danger{'ng-click' => "vm.save()"}= t('devise.registrations.edit.form.submit')
