%section.dashboard-body
  .container-fluid.globalwidth
    %section.dashboard.projects-dashboard
      / Dash navigation
      = render 'templates/projects/dash_header'

      / Big chart
      = render 'templates/projects/dashboard/big_chart'

      / Overviews
      = render 'templates/projects/dashboard/finance_overview'
      = render 'templates/projects/dashboard/customers_overview'
      = render 'templates/projects/dashboard/products_overview'
