%section.dashboard-body
  .container-fluid.globalwidth
    %section.dashboard.projects-dashboard
      .row
        .col-sm-12
          %ul.dashboard-panel
            %li.current
              %a.dashboard-panel-link{:href => ""} Overview

            / Базовые
            %li.filter-holder
              .hover-select-box.filter-mod
                %select.selectpicker.filterSelect{'ng-model' => "vm.range.general_charts", 'ng-change' => "vm.chart_changed('general_charts')"}
                  %option{value: "total_revenu"}= t 'projects.show.total_revenu'
                  %option{value: "shipping_cost_as_a_percentage_of_total_revenue"}= t 'projects.show.shipping_cost_as_a_percentage_of_total_revenue'
                  %option{value: "average_order_value"}= t 'projects.show.average_order_value'
                  %option{value: "average_order_size"}= t 'projects.show.average_order_size'
              %a.dashboard-panel-link{href: "#"}= t 'projects.show.general'

            / Customers
            %li.filter-holder
              .hover-select-box.filter-mod
                %select.selectpicker.filterSelect{'ng-model' => "vm.range.customer_charts", 'ng-change' => "vm.chart_changed('customer_charts')"}
                  %option{value: "customers_number"}= t 'projects.show.customers_number'
                  %option{value: "new_customers_number"}= t 'projects.show.new_customers_number'
                  %option{value: "repeat_customers_number"}= t 'projects.show.repeat_customers_number'
                  %option{value: "average_revenue_per_customer"}= t 'projects.show.average_revenue_per_customer'
                  %option{value: "sales_per_visitor"}= t 'projects.show.sales_per_visitor'
                  %option{value: "average_customer_lifetime_value"}= t 'projects.show.average_customer_lifetime_value'
                  %option{value: "unique_users_number"}= t 'projects.show.unique_users_number'
                  %option{value: "visits"}= t 'projects.show.visits'
              %a.dashboard-panel-link{href: "#"}= t 'projects.show.customers'

            / Products
            %li.filter-holder
              .hover-select-box.filter-mod
                %select.selectpicker.filterSelect{'ng-model' => "vm.range.product_charts", 'ng-change' => "vm.chart_changed('product_charts')"}
                  %option{value: "products_in_stock_number"}= t 'projects.show.products_in_stock_number'
                  %option{value: "items_in_stock_number"}= t 'projects.show.items_in_stock_number'
                  %option{value: "percentage_of_inventory_sold"}= t 'projects.show.percentage_of_inventory_sold'
                  %option{value: "percentage_of_stock_sold"}= t 'projects.show.percentage_of_stock_sold'
                  %option{value: "products_number"}= t 'projects.show.products_number'
              %a.dashboard-panel-link{href: "#"}= t 'projects.show.inventory'


            %li.filter-holder
              %a{href: '', 'ng-click' => "vm.debug = true"} Debug on
            %li.filter-holder
              %a{href: '', 'ng-click' => "vm.debug = false"} Debug off

      / Big chart date picker
      .row.dashboard-title-row
        .col-sm-6
          %h2 Bling-Blings Dashboard.
        .col-sm-6
          .pull-right.datepicker-v1.datepickerComponent
            .pull-left.datepicker-parent
              %input.form-control.datePicker.form-control-small{:type => "text", 'ng-model' => 'vm.range.date'}
            .pull-left
              %select.selectpicker.graphFilterDate{'ng-model' => "vm.date_range", 'ng-change' => "vm.set_date_range(vm.date_range)"}
                %option{:selected => true, :value => "0"} Current month
                %option{:value => "1"} Previous month
                %option{:value => "2"} Last 3 month
                %option{:value => "3"} Last 6 month
                %option{:value => "4"} Last year
                %option{:value => "5"} All time

      .dashboard-caption{'ng-init' => "vm.debug = false", 'ng-show' => "vm.debug"}
        %pre
          {{vm.range | json}}
        %p Data
        %pre
          {{vm.data | json}}

      / Current status of your primary data
      .graph-unit-holder
        .graph-unit
          .graph-unit-large
            %h5.graph-name Current status of your primary data
            .graph-filters.graph-filter-v1
              .btn-group{:role => "group"}
                %input#graph_filter_1{:checked => "", :hidden => "", :name => "graph_filter", :type => "radio", 'ng-model' => "vm.range.period", value: 'day'}
                %label.btn.btn-default.first{:for => "graph_filter_1", :type => "button"} Day
                %input#graph_filter_2{:hidden => "", :name => "graph_filter", :type => "radio", 'ng-model' => "vm.range.period", value: 'week'}
                %label.btn.btn-default{:for => "graph_filter_2", :type => "button"} Week
                %input#graph_filter_3{:hidden => "", :name => "graph_filter", :type => "radio", 'ng-model' => "vm.range.period", value: 'month'}
                %label.btn.btn-default.last{:for => "graph_filter_3", :type => "button"} Month
            .graph-block
              .graph_3.areaChartFamily_1.d3graph.hide_x_axis
                #tooltip.graph-tooltip-holder.hidden_
                  #tooltip_dot.tooltip-dot
                  #tooltip_content.graph-tooltip

          %ul.legend_v2.graph-unit-legend
            %li.legend_item{"data-graph" => "#family_area_0"}
              .legend_name{:style => "color: rgb(106, 255, 203);"}
                %span Revenue
              .legend_val
                %span.val 35,489$
                %sup.graph-dynamica.dynamica_up +8%
            %li.legend_item{"data-graph" => "#family_area_1"}
              .legend_name{:style => "color: rgb(255, 31, 167);"}
                %span Orders
              .legend_val
                %span.val 490
                %sup.graph-dynamica.dynamica_down -9%
            %li.legend_item{"data-graph" => "#family_area_2"}
              .legend_name{:style => "color: rgb(255, 112, 69);"}
                %span Products sell
              .legend_val
                %span.val 9,483
                %sup.graph-dynamica.dynamica_down -9%
            %li.legend_item{"data-graph" => "#family_area_3"}
              .legend_name{:style => "color: rgb(59, 215, 255);"}
                %span Unic users
              .legend_val
                %span.val 109,330
                %sup.graph-dynamica.dynamica_down -1%
            %li.legend_item{"data-graph" => "#family_area_4"}
              .legend_name{:style => "color: rgb(255, 216, 101);"}
                %span Customers
              .legend_val
                %span.val 477
                %sup.graph-dynamica.dynamica_up +2
      / Finance overview
      .dashboard-caption
        %h3.caption-text= t 'projects.show.general'
        %i.icon.fa.fa-angle-right
      .graph-unit-holder.graph-unit-hover
        .row
          .col-lg-3.col-md-4.col-sm-6
            .graph-unit
              %a.graph-u-link{:href => "total_revenu.html"}
              %h5.graph-name Gross Revenue
              .graph-value
                %span.val $4,490
                %sup.graph-dynamica.dynamica_up +8%
              .graph-block
                .graph_2.lineAreaChart_1.d3graph.hide_x_axis
          .col-lg-3.col-md-4.col-sm-6
            .graph-unit
              %a.graph-u-link{:href => "total_revenu.html"}
              %h5.graph-name Gross Revenue
              .graph-value
                %span.val $4,490
                %sup.graph-dynamica.dynamica_up +8%
              .graph-block
                .graph_2.lineAreaChart_1.d3graph.hide_x_axis
          .col-lg-3.col-md-4.col-sm-6
            .graph-unit
              %a.graph-u-link{:href => "total_revenu.html"}
              %h5.graph-name Gross Revenue
              .graph-value
                %span.val $4,490
                %sup.graph-dynamica.dynamica_up +8%
              .graph-block
                .graph_2.lineAreaChart_1.d3graph.hide_x_axis
          .col-lg-3.col-md-4.col-sm-6
            .graph-unit.disabled
              / a.graph-u-link(href='total_revenu.html')
              %h5.graph-name Unique users
              .graph-value
                %span.val
                  Google analytics is not available,
                  %br
                    %a{:href => "#"} set up
                    it now
              .graph-block
                .graph_2.lineAreaChart_1.d3graph.hide_x_axis

      / Customers overview
      .dashboard-caption
        %h3.caption-text= t 'projects.show.customers'
        %i.icon.fa.fa-angle-right
      .graph-unit-holder.graph-unit-hover
        .row
          .col-lg-3.col-md-4.col-sm-6
            .graph-unit
              %a.graph-u-link{:href => "total_revenu.html"}
              %h5.graph-name Gross Revenue
              .graph-value
                %span.val $4,490
                %sup.graph-dynamica.dynamica_up +8%
              .graph-block
                .graph_2.areaChart_1.d3graph.hide_x_axis
          .col-lg-3.col-md-4.col-sm-6
            .graph-unit
              %a.graph-u-link{:href => "total_revenu.html"}
              %h5.graph-name Gross Revenue
              .graph-value
                %span.val $4,490
                %sup.graph-dynamica.dynamica_up +8%
              .graph-block
                .graph_2.areaChart_1.d3graph.hide_x_axis
          .col-lg-3.col-md-4.col-sm-6
            .graph-unit
              %a.graph-u-link{:href => "total_revenu.html"}
              %h5.graph-name New & repeat customers
              .graph-value
                %span.val 3.2
                %sup.graph-dynamica.dynamica_up +8%
              .graph-block
                .graph_1.donutChart_1.d3graph.hide_x_axis
          .col-lg-3.col-md-4.col-sm-6
            .graph-unit
              %a.graph-u-link{:href => "total_revenu.html"}
              %h5.graph-name Gross Revenue
              .graph-value
                %span.val $4,490
                %sup.graph-dynamica.dynamica_up +8%
              .graph-block
                .graph_2.areaChart_2.d3graph.hide_x_axis

      / Products overview
      .dashboard-caption
        %h3.caption-text= t 'projects.show.inventory'
        %i.icon.fa.fa-angle-right
      .graph-unit-holder.graph-unit-hover
        .row
          .col-lg-3.col-md-4.col-sm-6
            .graph-unit
              %a.graph-u-link{:href => "total_revenu.html"}
              %h5.graph-name Gross Revenue
              .graph-value
                %span.val $4,490
                %sup.graph-dynamica.dynamica_up +8%
              .graph-block
                .graph_2.lineAreaChart_1.d3graph.hide_x_axis
          .col-lg-3.col-md-4.col-sm-6
            .graph-unit
              %a.graph-u-link{:href => "total_revenu.html"}
              %h5.graph-name Gross Revenue
              .graph-value
                %span.val $4,490
                %sup.graph-dynamica.dynamica_up +8%
              .graph-block
                .graph_2.lineAreaChart_1.d3graph.hide_x_axis
          .col-lg-3.col-md-4.col-sm-6
            .graph-unit
              %a.graph-u-link{:href => "total_revenu.html"}
              %h5.graph-name Gross Revenue
              .graph-value
                %span.val $4,490
                %sup.graph-dynamica.dynamica_up +8%
              .graph-block
                .graph_2.lineAreaChart_1.d3graph.hide_x_axis
          .col-lg-3.col-md-4.col-sm-6
            .graph-unit
              %h5.graph-name Best sellers
              %table.best_sellers
                %tr
                  %td.col_1
                    .seller_name BUNN BXB Velocity Brew 10-Cup Home...
                  %td.col_2 590
                  %td.col_3
                    .seller_val.best_seller $73,490
                %tr
                  %td.col_1
                    .seller_name Kitchen forks
                  %td.col_2 9,389
                  %td.col_3
                    .seller_val.best_seller $43,490
                %tr
                  %td.col_1
                    .seller_name BUNN BXB Velocity Brew 10-Cup Home...
                  %td.col_2 590
                  %td.col_3
                    .seller_val.best_seller $73,490
                %tr
                  %td.col_1
                    .seller_name Kitchen forks
                  %td.col_2 9,389
                  %td.col_3
                    .seller_val.best_seller $43,490
