#subscription_expired.modal.fade.modal_vert_middle{:role => "dialog"}
  .modal-dialog.modal_v1{:style => "width: 600px;"}
    / Modal content
    .modal-content
      .modal-header
        %button.close.fa{"data-dismiss" => "modal", :type => "button"} ×
      .modal-body
        %h3
          Your Dynamica account
          %br has expired
        %p.text-center Want to Re-Start you account?
      .form_holder
        = form_tag '/subscriptions/change?redirect=true', remote: true, authenticity_token: true do
          .control-box.text-center
            = submit_tag "Re-Start Dynamica now!", class: "btn btn-lg btn-danger"
          %p
          = hidden_field_tag :id, value: current_user.subscription.id
          .row
            .col-lg-4
              .pull-left
                .subscribe_period
                  %label.radio_control
                    = radio_button_tag :sub_type, 'inactive'
                    %span.check_text Inactive
                .subscribe_period
                  %label.radio_control
                    = radio_button_tag :sub_type, 'monthly'
                    %span.check_text
                      = "$"+SubscriptionPrice.monthly.first.cost.to_i.to_s+" monthly"
                .subscribe_period
                  %label.radio_control
                    = radio_button_tag :sub_type, 'yearly'
                    %span.check_text
                      = "$"+SubscriptionPrice.yearly.first.cost.to_i.to_s+" yearly,"
                      %span.color_green= "Save "+SubscriptionPrice.save_percentage+"%"
            .col-lg-5
              .pull-right
                %span Charge from
            .col-lg-3
              .pull-left
                = select_tag :project_id, options_from_collection_for_select(current_user.projects, "id", "name"), class: "project-select2"