#subscription_logs.modal.fade.modal_vert_middle{:role => "dialog"}
  .modal-dialog.modal_v1{:style => "width: 600px;"}
    / Modal content
    .modal-content
      .modal-header
        %h4.pull-left
          Transaction history
        %button.close.fa{"data-dismiss" => "modal", :type => "button"} ×
      .modal-body
        %table.table
          %thead
            %tr
              %th
                Date
              %th
                Transaction #
              %th
                Description
              %th
                Billed
              %th
                Status
          - current_user.subscription_logs.each do |log|
            %tr
              %td
                = log.created_at.to_date
              %td
                = log.charge_id
              %td
                = log.table_description
              %td
                = log.billed
              %td
                = log.table_status