= render 'templates/landing/pages/page_1'
= render 'templates/landing/pages/page_2'
= render 'templates/landing/pages/page_3'
= render 'templates/landing/pages/page_4'
= render 'templates/landing/pages/page_5'
= render 'templates/landing/pages/page_6'
= render 'templates/landing/pages/page_7'
= render 'templates/landing/pages/page_8'


/ Popups
= render 'popups/auth'
= render 'popups/restore_pass'
= render 'popups/no_access'
= render 'popups/not_ready'
= render 'popups/confirm_address'
= render 'popups/password_sended'
