/ page 1
.page.full_h_page
  %header.page-header.navbar.navbar-default{"data--1" => "padding: 50px 0 20px; box-shadow: 0 0 0 rgba(0, 0, 0, 0); background-color: rgba(255,255,255,1);", "data-400" => "padding: 10px 0 10px; box-shadow: 0 0 1px rgba(0, 0, 0, .2); background-color: rgba(255,255,255,.98);", "data-50" => "box-shadow: 0 0 0 rgba(0, 0, 0, 0);"}
    .container-fluid.globalwidth
      .navbar-header
        %button.navbar-toggle.collapsed{"data-target" => ".bs-navbar-collapse", "data-toggle" => "collapse", :type => "button"}
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        .navbar-project-switch
          %a.navbar-brand(href = "")
            %img{:src => "img/logo.svg"}/
      %nav.collapse.navbar-collapse.bs-navbar-collapse
        %ul.nav.navbar-right.hidden-xs.navbar-anon
          %li.active
            %a.menu_link(href = "")= t('landing.menu.live_demo')
          %li
            %a.menu_link(href = "" ng-click="vm.test()")= t('landing.menu.pricing')
          %li
            %a.btn.login_btn(ng-click="vm.modal('auth_popup','show')")= t('landing.menu.log_in')
  .page_inner
    .gl_table
      .gl_table_cell
        %section.land_hero
          .container-fluid.globalwidth
            .row.dashboard-title-row.land_v3
              .col-sm-12
                %h1.text-center
                  Carefully made analytics
                  %br/
                  for your Shopify store
                .text-center
                  %a.btn.btn-lg.btn-danger.start_trial_btn(href="" ng-click="vm.modal('auth_shops','show')")= t('landing.start_trial')
    .hero_graph_block.heroGraph
      .graph_3.areaChart_2.d3graph.hide_x_axis{:style => "opacity: .2;"}
      .graph_3.areaChart_2.d3graph.hide_x_axis{:style => "opacity: .4;"}
      .graph_3.areaChart_2.d3graph.hide_x_axis
      .graph_tip.g_tip_pink.graph_tip_1{"data--1" => "transform: translate(0%,-200%); opacity: 0;", "data-200" => "transform: translate(0%,-100%);opacity: 1;"}
        .g_tip_val $389
        .g_tip_date Revenue today
      .graph_tip.g_tip_orange.graph_tip_2{"data--1" => "transform: translate(0%,-200%); opacity: 0;", "data-200" => "transform: translate(0%,-100%);opacity: 1;"}
        .g_tip_val 43
        .g_tip_date Sales 23 February
/ page 2
.page
  .page_inner.major_data_section_2
    .gl_table
      .gl_table_cell
        %section
          .container-fluid.globalwidth
            .row.dashboard-title-row.land_v3
              .col-sm-12
                %h2.text-center{:style => "margin-top: 30px;"}
                  All major data of your  store
                  %br/
                  in a single graph
                .graph-unit-holder
                  .graph-unit
                    .graph-unit-large
                      .graph-filters.graph-filter-v1
                        .btn-group{:role => "group"}
                          %input#graph_filter_1{:checked => "checked", :hidden => "", :name => "graph_filter", :type => "radio"}/
                          %label.btn.btn-default.first{:for => "graph_filter_1"} Day
                          %input#graph_filter_2{:hidden => "", :name => "graph_filter", :type => "radio"}/
                          %label.btn.btn-default{:for => "graph_filter_2"} Week
                          %input#graph_filter_3{:hidden => "", :name => "graph_filter", :type => "radio"}/
                          %label.btn.btn-default.last{:for => "graph_filter_3"} Month
                      .graph-block
                        .graph_3.areaChartFamily_1.d3graph.hide_x_axis
                          #tooltip.graph-tooltip-holder.hidden_
                            #tooltip_dot.tooltip-dot
                            #tooltip_content.graph-tooltip
/ page 3
.page
  .page_inner.major_data_section_2
    .gl_table
      .gl_table_cell
        %section
          .container-fluid.wide_block.land_v1
            .row
              .customers_orders
                %h3.text-center You will know your customers and how often they making orders. Whether it’s new or returned users. Don’t forget to check out average sales
    .section_border
      .container-fluid.wide_block
/ page 4
.page
  .page_inner
    .gl_table
      .gl_table_cell
        %section.metrics_section
          .container-fluid.narrow_block{:style => "position: relative; z-index: 10;"}
            .row.dashboard-title-row.land_v3
              .col-sm-12
                %h2.text-center{"data-0-top" => "transform: translate(0%,-100%); opacity: 0;", "data-100p-top" => "transform: translate(0%,200%); opacity: 0;", "data-10p-top" => "transform: translate(0%,0%); opacity: 1;", "data-70p-top" => "transform: translate(0%,0%); opacity: 1;"} Most relevant metrics
                %ul.relevant_list.land_v3
                  %li
                    .relevant_block
                      .relevant_caption Finance
                      %ul.relevant_metrics
                        %li Monthly Recurring
                        %li Net Revenue
                        %li Average Revenue Per User
                        %li Failed Charges
                        %li Lifetime Value
                  %li
                    .relevant_block
                      .relevant_caption Customers
                      %ul.relevant_metrics
                        %li Monthly Recurring
                        %li Net Revenue
                        %li Average Revenue Per User
                        %li Failed Charges
                        %li Lifetime Value
                  %li
                    .relevant_block
                      .relevant_caption Products
                      %ul.relevant_metrics
                        %li Monthly Recurring
                        %li Net Revenue
                        %li Average Revenue Per User
                        %li Failed Charges
                        %li Lifetime Value
          .container-fluid
            .metrics_map
              / img(src='img/metrics_map.png')
              .metric_unit{"data-100p-top" => "box-shadow: 0px 2px 2px rgba(0, 0, 0, .15);", "data-50p-top" => "box-shadow: 60px 60px 90px rgba(0, 0, 0, .45);", "data-70p-top" => "box-shadow: 0px 2px 2px rgba(0, 0, 0, .15);"}
                %img.retina_only{:height => "277", :src => "img/metric_unit@2x.png", :width => "300"}/
                %img.no_retina{:height => "277", :src => "img/metric_unit.png", :width => "300"}/
/ page 4
.page
  .page_inner
    .gl_table
      .gl_table_cell
        %section
          .container-fluid.narrow_block{:style => "position: relative; z-index: 10;"}
            .review_block
              %p And provides us with invaluable information that allows us to improve our business in ways that weren't possible for us before. And provides us with invaluable.
              .review_author
                .review_photo
                  %img{:src => "img/review_author.png"}/
                .review_author_name Konstantin Osintsev
                .review_author_post Founder
/ page 8
.page
  .page_inner.price_section
    .gl_table
      .gl_table_cell
        / section
        .container-fluid.wide_block
          .price_block
            .price_block_inner
              .price_b_caption Start free trial
            .price_lemon_box
              .price_b_val $5
              .price_b_period
                per month
                %br/
                = succeed "trial" do
                  %span.color_red after
            .price_block_inner
              .text-center
                %a.btn.btn-lg.btn-danger.start_trial_btn(href="" ng-click="vm.modal('auth_shops','show')")= t('landing.get_started_for_free')
              .price_b_text
                %p
                  For annual payment
                  %br/
                  48$ per year
    .page-footer
      .container-fluid.wide_block
        .footer_logo
          %a.navbar-brand{:href => "#"}
            %img{:src => "img/logo_w.svg"}/
        .land_footer-links
          .footer_link_w
            %a{:href => "#"} Shopify App Store
          .footer_link_w
            %a{:href => "mailto:support@dynamica.cc"} support@dynamica.cc
        .land_footer-links-right
          .footer_link_w
            %a{:href => "#"} Privacy Policy
          .footer_link_w
            .land_copyright Copyright © 2016


/ Popups
= render 'popups/auth'
= render 'popups/restore_pass'
= render 'popups/no_access'
= render 'popups/not_ready'
= render 'popups/confirm_address'
= render 'popups/password_sended'
= render 'popups/auth_shops'
